
<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">编辑</h1>
    </div>

    <!-- add form --> 
    <form action="{:url('update',['id'=>$data.id])}" method="post" id="tab" enctype="multipart/form-data">
       
        <div class="tab-content">
            <div class="tab-pane fade in active" id="basic">
                <div class="well">
                        <label>关键字：</label>
                        <input type="text" name="key" value="{$data.key}" class="input-xlarge">
                        <label>关键字编号：</label>
                        <input type="text" name="kid" value="{$data.kid}" class="input-xlarge">
                        
                </div>
            </div>
           
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>

    