<style>
    .well{
        position:relative;
    }
    .btn{
        position: absolute;
        top:50px;
        right:210px;
    }
</style> 


<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">楼盘列表</h1>
    </div>

    <div class="well">
        <!-- search button -->
        <form action="{:url('admin/news/update',['id'=>$data.id])}" method="post" class="form-search">
            <label>楼盘简介：</label>
            
	<input type="hidden" name="bid" value="{$data.bid}">
            <textarea name="introduce" style="width:800px;height:100px;" class="input-xlarge">{$data.introduce}</textarea>
            <button type="submit" class="btn">提交</button>
        </form>
    </div>
   <script>
       
   </script>