<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">权限编辑</h1>
    </div>

    <div class="well">
        <!-- add form -->
        <form id="tab" action="{:url('admin/auth/update',['id'=>$data.id])}" method="post">
            <label>权限名称：</label>
            <input type="text" name="auth_name" value="{$data.auth_name}" class="input-xlarge">
            <label>上级权限</label>
            <select name="pid" class="input-xlarge">
                <option value="0">作为顶级权限</option>
                {foreach $top_auth as $v}
                <option value="{$v.id}" {if $data.pid==$v.id}selected{/if}>{$v.auth_name}</option>
                {/foreach}
            </select>
            <div>
                <label>控制器：</label>
                <input type="text" name="auth_c" value="{$data.auth_c}" class="input-xlarge">
            </div>
            <div>
                <label>方法：</label>
                <input type="text" name="auth_a" value="{$data.auth_a}" class="input-xlarge">
            </div>
            <label>是否菜单项</label>
            <select name="is_nav" class="input-xlarge">
                <option value="1" {if $data.is_nav==1}selected{/if}>是</option>
                <option value="0" {if $data.is_nav==0}selected{/if}>否</option>
            </select>

            <label></label>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
    </div>